<div
  class="home | w-[300px] h-[300px] flex items-center justify-center"
  [style.backgroundColor]="color"
>
  <div class="w-[200px] h-[200px] bg-white flex flex-col justify-between">
    <div class="row | flex flex-1 items-center justify-evenly">
      <div class="w-[60px] h-[60px]" [style.backgroundColor]="color"></div>
      <div class="w-[60px] h-[60px]" [style.backgroundColor]="color"></div>
    </div>
    <div class="row | flex flex-1 items-center justify-evenly">
      <div class="w-[60px] h-[60px]" [style.backgroundColor]="color"></div>
      <div class="w-[60px] h-[60px]" [style.backgroundColor]="color"></div>
    </div>
  </div>
</div>
