<div
  class="home | bg-white border border-black flex"
  [ngClass]="{' h-[300px] w-[150px] flex-row': isVertical,  ' h-[150px] w-[300px]  flex-col': !isVertical,}"
>
  <div
    [ngClass]="{
      'flex-col': isVertical,
      'flex-row': !isVertical
    }"
    class="row | flex-1 flex"
  >
    @for (item of matrix[0]; track $index) {
    <app-square
      [value]="item"
      [idPrefix]="idPrefix"
      [class]="item != 12 && item != 0 ? cssColor : '!border-0'"
      class="flex-1 border-black"
      [style.backgroundColor]="item == 8 ? color : ''"
    />
    }
  </div>
  <div
    [ngClass]="{
      'border-l border-r flex-col': isVertical,
      'border-t border-b flex-row': !isVertical
    }"
    class="row | flex-1 flex border-black"
  >
    @for (item of matrix[1]; track $index) {
    <app-square
      [value]="item"
      [idPrefix]="idPrefix + '-inner'"
      [class]="item != 4 ? cssColor : ''"
      class="flex-1"
      [style.backgroundColor]="item != 6 ? color : ''"
    />
    }
  </div>
  <div
    [ngClass]="{
      'flex-col': isVertical,
      'flex-row': !isVertical
    }"
    class="row | flex flex-1"
  >
    @for (item of matrix[2]; track $index) {
    <app-square
      [value]="item"
      [idPrefix]="idPrefix"
      [class]="item != 12 && item != 0 ? cssColor : '!border-0'"
      class="flex-1"
      [style.backgroundColor]="item == 8 ? color : ''"
    />
    }
  </div>
</div>
