<ng-container
  *ngIf="{
    dice1: dice1$ | async,
    dice2: dice2$ | async,
    currentPlayer: currentPlayer$ | async,
    hasStartedGame: hasStartedGame$ | async,
    hasRolledDice: hasRolledDice$ | async
  } as obs"
>
  <div class="w-[300px] h-[300px] bg-white fixed bottom-10 right-4 p-4">
    <h2 class="text-center">Game Controls {{ obs.hasRolledDice }}</h2>
    @if (obs.hasStartedGame) {
    <div class="dice_wrapper | flex justify-center space-x-8">
      <app-dice [value]="obs.dice1 ?? 1" />
      <app-dice [value]="obs.dice2 ?? 1" />
    </div>
    <div>
      <div class="mt-4 flex justify-center">
        <button
          *ngIf="!obs.hasRolledDice; else pickOps"
          (click)="rollDice()"
          class="rounded bg-[royalblue] cursor-pointer text-white p-2 text-center"
        >
          Roll Dice
        </button>
        <ng-template #pickOps>
          <div
            *ngIf="obs.currentPlayer"
            class="flex justify-end items-center space-x-4"
          >
            <div
              id="d1v"
              class="flex justify-center items-center cursor-pointer rounded-[50%] h-[30px] w-[30px] bg-[royalblue] text-white"
              (click)="
                highlightPlayablePawns(
                  obs?.dice1 ?? 0,
                  obs.currentPlayer,
                  selectedVal.DIE_VALUE_1
                )
              "
            >
              {{ obs.dice1 }}
            </div>
            <div
              id="dsv"
              (click)="
                highlightPlayablePawns(
                  obs?.dice1 ?? 0 + (obs.dice2 ?? 0),
                  obs.currentPlayer,
                  selectedVal.DICE_VALUE
                )
              "
              class="flex justify-center items-center cursor-pointer rounded-[50%] h-[30px] w-[30px] bg-[royalblue] text-white"
            >
              {{ (obs?.dice1 ?? 0) + (obs?.dice2 ?? 0) }}
            </div>
            <div
              id="d2v"
              (click)="
                highlightPlayablePawns(
                  obs.dice2 ?? 0,
                  obs.currentPlayer,
                  selectedVal.DIE_VALUE_2
                )
              "
              class="flex justify-center items-center cursor-pointer rounded-[50%] h-[30px] w-[30px] bg-[royalblue] text-white"
            >
              {{ obs.dice2 }}
            </div>
          </div>
        </ng-template>
      </div>
      <div class="text-center mt-4">Player: {{ obs.currentPlayer?.name }}</div>
    </div>
    }@else{
    <div class="mt-4 flex justify-center">
      <button
        (click)="startGame()"
        class="rounded bg-[royalblue] cursor-pointer text-white p-2 text-center"
      >
        Start Game
      </button>
    </div>
    }
  </div>
</ng-container>
